* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  size: 300;
  width: 50%;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: blueviolet;
  color: aliceblue;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}
header nav ul a {
  color: #7700ff;
}
header nav ul a.hover {
  color: #7700ff;
  text-decoration: underline;
}
header .nav-logo span {
  color: fuchsia;
}
header {
  border-bottom: 1px solid;
}

@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero h1 {
  font-size: 3rem;
  line-height: 100%;
}
.hero h1 span {
  display: block;
  color: #7700ff;
}
.hero h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 500;
}
.hero .btn-wrapper {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hero .icon-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.hero .icon-wrapper a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  background-color: black;
  color: white;
  border-radius: 100%;
  margin-right: 0.5rem;
}
.hero .icon-wrapper a-hover {
  background: #7700ff;
}
.btn.btn-secondary {
  background: white;
  color: #7700ff;
}
